.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  border-radius: 30px;
  padding: 10px;
  height: 874px;
  position: relative;
  overflow: hidden;
}
.stream {
  color: #441444;
  text-align: left;
  font-family: "HammersmithOne-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  left: 184px;
  top: 294px;
}
.logo {
  width: 102px;
  height: 17px;
  position: absolute;
  left: 154px;
  top: 258px;
  object-fit: cover;
  aspect-ratio: 102/17;
}
.download {
  color: #441444;
  text-align: left;
  font-family: "HammersmithOne-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  left: 173px;
  top: 328px;
}
.shop-vinyl {
  color: #441444;
  text-align: left;
  font-family: "HammersmithOne-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  left: 173px;
  top: 362px;
}
.image-logo {
  width: 177px;
  height: 177px;
  position: absolute;
  left: 117px;
  top: 62px;
  object-fit: cover;
  aspect-ratio: 1;
}
.events {
  color: #441444;
  text-align: left;
  font-family: "HammersmithOne-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  position: absolute;
  left: 185px;
  top: 396px;
}
